@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer components{
  .nav-link{
    @apply relative text-black font-bold cursor-pointer text-[17px] w-fit lg:block
     after:block after:content-[''] after:absolute after:h-[3px] after:bg-lime-600 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center uppercase hidden
  }

  .nav-link-mobile{
    @apply relative mb-[2rem] text-black font-bold cursor-pointer text-[25px] w-fit 
    lg:block after:block after:content-[''] after:absolute after:h-[3px] after:bg-lime-600 after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center uppercase 
  
  }
}